{% extends 'StudenciakBundle:Page:base.html.twig' %}

{% block title %}
    Kurs
{% endblock %}

{% block general %}
    active
{% endblock %}
{% block przedmiot %}
    active
{% endblock %}

{% block view %}
    <div class="db-breadcrumbs">
        <a class="db-brdcmb-item" href="#">
            <i class="icon-home"></i>
        </a>
        <a class="db-brdcmb-item" href="#">
            Ogólne
        </a>
        <a class="db-brdcmb-item" href="#">
            Kursy
        </a>
    </div>


    {% if app.session.get('admin') == 1 %} 

        <div class="db-logged" >
            <a href="{{path('kursDodajZajecia', {'id': kurs.getIdKursu})}}">
                <button><i class="icon-plus"></i><span>Dodaj termin zajęć</span></button>
            </a>
        </div>

    {% endif %}

    <h2>{{ kurs.getIdPrzedmiotu.getNazwa }}</h2>
    Prowadzący: {{ kurs.getIdPrzedmiotu.getIdOsoby.getNazwisko }}
    <br />
    Termin: {{kurs.getTermin|date("D,  G:i ")}}
    <br />
    Sala: {{kurs.getSala}}
    <br />
    Typ zajęć: {% if (kurs.getTypZajec == 'l') %} laboratorium
    {% elseif (kurs.getTypZajec == 'w') %} wykład
    {% elseif (kurs.getTypZajec == 'c') %} ćwiczenia
    {% elseif (kurs.getTypZajec == 'p') %} projekt
{% endif %}
<br />


{% if zajecia is empty %} 
    <br />
    Brak zajęć dla wybranego kursu
    {% else %}


    <table>
        <tr>
            <th width="20%">Data</th>
            <th width="50%">Temat</th>
            <th width="30%">Obecności</th>
        </tr>


        {% for z in zajecia %}

            <tr>
                <td><a href="#">{{ z.getDataZajec|date("d-m-Y") }}</a></td>
                <td>{{ z.getTemat}}</td>
                <td>{{ z.getIdKursu.getSala }}</td>
            </tr>



        {% endfor %}
    </table>



{% endif %}
{% endblock %}

